/* This is my external styles sheet--*/

/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/

/* These are all my Element Selectors--*/

/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/

html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(237, 252, 220)
}

body {
    margin: 75px;
}

h1 {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 75px;
    color:rgb(70, 139, 70);
}

img {
    float: right;
}

/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/

/* These are my Custom Class Selectors--*/

/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/

.link-text {
    text-align: center;
    margin-top: 50px;
}

.container {
    display: flex;
    margin-bottom: 50px;
}

/* For index.html--*/

.main-text {
    background-color: rgb(242, 248, 225);
    border: solid rgb(70, 139, 70);
    border-radius: 10px;
    padding: 25px 25px;
    width: 50%;
    text-justify: center;
    margin: auto;
}

/* For page2.html--*/

.service {
    padding: 25px;
    background-color: rgb(242, 248, 225);
    border: solid rgb(70, 139, 70);
    border-radius: 10px;
    margin: 0px 25px;
}

.service-text {
    padding: 60px 5px;
    background-color: rgb(242, 248, 225);
    border: solid rgb(70, 139, 70);
    border-radius: 10px;
    margin: 0px 25px;
    text-align: center;
}

.building-text {
    padding: 50px;
    background-color: rgb(242, 248, 225);
    border: solid rgb(70, 139, 70);
    border-radius: 10px;
    margin: 0px 25px;
    text-align: left;
}

/* For page4.html--*/

.form-page {
    margin-left: 150px;
}

/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/

/* These are my Custom ID Selectors*/

/*--------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------*/

#image-border {
    border: solid rgb(70, 139, 70);
    border-radius: 10px;
}

/* Selectors for page1.html--*/

#first-content {
    height: 375px;
    padding: 25px 25px 25px 200px;
    background-color: rgb(242, 248, 225);
    border: solid rgb(70, 139, 70);
    border-radius: 10px;
}

#second-content {
    height: 290px;
    padding: 25px 25px 25px 200px;
    background-color: rgb(242, 248, 225);
    border: solid rgb(70, 139, 70);
    border-radius: 10px;
    margin-top: 50px;
}

/* For page3.html--*/

#random-text {
    margin-left: 50px;
    padding: 120px 0px 120px 50px;
}

/* For page4.html--*/

#form-question-1 {
    background-color: rgb(135, 163, 135);
    border-radius: 10px;
    width: 27%;
    padding: 10px 0px 10px 50px;
    margin-bottom: 50px;
}

#form-question-2 {
    background-color: rgb(135, 163, 135);
    border-radius: 10px;
    width: 22%;
    padding: 10px 0px 10px 50px;
    margin-bottom: 50px;
}

#form-question-3 {
    background-color: rgb(135, 163, 135);
    border-radius: 10px;
    width: 18%;
    padding: 10px 0px 10px 50px;
    margin-bottom: 50px;
}

#form-question-4 {
    background-color: rgb(135, 163, 135);
    border-radius: 10px;
    width: 40%;
    padding: 10px 0px 10px 50px;
    margin-bottom: 50px;
}

#submit {
    margin: auto;
    text-align: center;
    border: solid rgb(135, 163, 135);
    border-radius: 10px;
    width: 5%;
    padding: 10px 0px;
}